.view.overlay {
  height: 150px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0;

    > img {
      object-fit: cover;
      height: 100%;
    }
}


blockquote {
  position: relative;
    color: #999;
    font-size: 1.25em;
    font-family: Georgia,Times New Roman,Times,serif;
    font-style: italic;
    margin: 0;
    padding: .5em .5em .5em 0.5em;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-origin: border-box;
    background-size: 2em;
}
